/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.pages__page {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-decoration: none;
  color: #333;
  border-radius: 3px;
}
.country {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid lightgray;
  background-color: #f9f9f9;
  list-style: none;
  width: calc(100% - 20px);
  box-sizing: border-box;
}
