.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  justify-content: end;
  align-items: end;
}

.countries--second {
  justify-content: center;
  align-items: end;
  flex-direction: row-reverse;
}

.countries--third {
  justify-content: start;
  align-items: start;
}
.countries--third .country--brazil {
  align-self: end;
}

.countries--fourth {
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.countries--fourth .country--ethiopia,
.countries--fourth .country--laos {
  align-self: center;
}

.countries--fifth {
  flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.countries--fifth .country--uganda {
  align-self: center;
}
.countries--fifth .country--croatia {
  order: 4;
}

.countries--fifth .country--brazil {
  order: 5;
}
.countries--fifth .country--ethiopia {
  order: 3;
}
